<!-- <h3 [class.pd-10]="true" [class.cl-red]="true" [class.border-blue]="true">
    Welcome to Angular course!
</h3> -->

<!-- <h3 
    [ngClass]="['pd-10', 'cl-red', 'border-blue']"
>
    Welcome to Angular course!
</h3> -->

<!-- <p>Special: {{ isSpecial }}</p>
<h3
    [ngClass]="getClasses()"
>
    Welcome to Angular course!
</h3>

<button type="button" class="btn btn-danger" (click)="onToggleClick()">button</button> -->

<p>Special: {{ isSpecial }}</p>
<h3
    [ngStyle]="setStyles()"
>
    Welcome to Angular course!
</h3>
<button type="button" class="btn btn-danger" (click)="onToggleClick()">Toggle button</button>