<h1>{{ title }}</h1>
<button 
    type="button" 
    class="btn btn-primary"
    (click)="onClickMe($event)"
>
    Click Me !!!
</button>

<button 
    type="button" 
    class="btn btn-primary"
    (click)="onDbClickMe($event)"
>
    DbClick Me !!!
</button>
<hr/>
<h1>{{ count }}</h1>
<button type="button" class="btn btn-warning" (click)="count = count + 1">Increase</button>

<hr/>
<h3>{{ userName }}</h3>
<div class="form-group">
    <label for="">Username</label>
    <input type="text" class="form-control" (keyup)="onKeyup($event)">
</div>

<h1>{{ name }}</h1>
<div class="form-group">
    <label for="">Username</label>
    <input type="text" class="form-control" (keyup.enter)="onKeyUpEnter($event)">
</div>
