<div class="flex">
    <div class="pl-10 pt-10 pb-5 flex cursor-pointer font-medium text-blue-400">
        <div *ngFor="let option of listOptions" class="pl-5">
            <span class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
                <img class="fill-current w-4 h-4 mr-2" [src]="option.icon" alt="">
                <span>{{option.name}}</span>
            </span>
        </div>
    </div>
    <div class="pl-10 pt-10 pb-5 flex cursor-pointer font-medium text-blue-400" (click)="openFilterOption()">
        <div class="flex py-2 px-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
              </svg>
            <span class="font-medium">Add filter</span>
        </div>
    </div>
</div>
<app-filter-options *ngIf="isOpenFilterOption" (isOpenFilterOption)="getValuable($event)" (sendDataOption)="getDataOption($event)"></app-filter-options>