<!-- <h1 *ngIf="isShow">Username: {{ name }}</h1>

<button type="button" class="btn btn-warning" (click)="onToggle()">button</button>

<hr />


<div class="radio">
    <label>
        <input type="radio" name="rdCheck" (click)="onChange(true)">
        True
    </label>
    <label>
        <input type="radio" name="rdCheck" (click)="onChange(false)">
        False
    </label>
</div>

<h3 *ngIf="isChecked; else elseBlock">Invalid</h3>
<ng-template #elseBlock>
    <h3>Not valid</h3>
</ng-template>

<hr />

<div class="form-group">
    <label for="">Age</label>
    <input type="text" class="form-control" [(ngModel)]="age">
</div>
<ng-container *ngIf="age > 18; else elseNotBlock">
    <h3>Old enough</h3>
</ng-container>
<ng-template #elseNotBlock>
    <h3>Not old enough</h3>
</ng-template> -->


<!-- <ul class="list-group">
    <li class="list-group-item" *ngFor="let name of names">{{ name }}</li>
</ul>

<ng-container *ngIf="products.length > 0; else elseNoProducts">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr 
                *ngFor="let product of products; 
                let i = index
                let f = first
                let l = last
                let e = even
                let o = odd
                trackBy : myTrackByFunction
                "
                [style.background-color]="f == true ? 'gray' : 'white'"
                [style.background-color]="l == true ? 'cyan' : (f == true ? 'gray' : 'white')"
            >
                <td>{{ i + 1 }}</td>
                <td>{{ product.name }}</td>
                <td>
                    <img src="{{ product.image }}" alt="">
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>
<ng-template #elseNoProducts>
    <h1>No Found Products</h1>
</ng-template>

<button type="button" class="btn btn-warning" (click)="onLoadData()">Get Data</button> -->

// TODO: switch - case

<ul class="list-group">
    <li class="list-group-item" *ngFor="let user of users">
        <span class="text-danger" *ngIf="user.country === 'VN'">
            {{ user.name }} - {{ user.country }}
        </span>
        <span class="text-primary" *ngIf="user.country === 'USA'">
            {{ user.name }} - {{ user.country }}
        </span>
        <span *ngIf="user.country !== 'VN' && user.country !== 'USA'">
            {{ user.name }} - {{ user.country }}
        </span>
    </li>
</ul>

<hr/>
<h3>ngSwitchCase</h3>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let user of users" [ngSwitch]="user.country">
        <span *ngSwitchCase="'VN'" class="text-danger">
            {{ user.name }} - {{ user.country }}
        </span>
        <span *ngSwitchCase="'USA'" class="text-primary">
            {{ user.name }} - {{ user.country }}
        </span>
        <span *ngSwitchDefault>
            {{ user.name }} - {{ user.country }}
        </span>
    </li>
</ul>